.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollbar-hide {
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}